/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #F5E8D2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header nav {
    background-color: #028490;
    padding: 10px;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 35px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

main >h1{
    font-size: 2rem;
    color: #028490;
    align-items: center;
    display: flex;
    justify-self: center;
}
/* Sección "¿Qué es SaludPlus?" */
.que-es {
    text-align: center;
    padding: 0px;
    display:flex;
    justify-content: center;
}

.que-es1, .que-es2, .que-es3 {
    display:flex;
    justify-content: center;
    background-color: #0D3A45;
    color: #FFFFFF;
    padding: 0px;
    margin: 20px;
    width: 300px;
    height: 150px;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    flex: 1;
}

main div h2 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #028490;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 100%;
    align-items: center;
    text-align: center;
}
/* Sección de Inicio de Sesión y Registro */
.sect2 {
    margin: 20px;
    display: flex;
    flex: 1;
    justify-content:center;
    text-align:center;

}
.inicia-sesion button, .registrate button {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #0D3A45;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    width: 300px;
    margin: 30px;
    height: 70px;
    gap: 50px;
}

.inicia-sesion a, .registrate a {
    color: #FFFFFF;
    text-decoration: none;
}

.main div h2 {
    color: #028490;
    font-size: 2rem;
    margin-bottom: 20px;
}
/* Sección Beneficios */
.sect3 {
    text-align: center;
    padding: 20px;
    display:flex;
    flex: 1;
    align-items: center;
}


.chat, .sacar-cita, .noticias {
    display:flex;
    flex: 1;
    background-color: #0D3A45;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin:10px;
    align-items: center;
    align-content: center;
    margin-right: 40px;
    margin-left: 70px;
}

.chat img, .sacar-cita img, .noticias img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.chat button, .sacar-cita button, .noticias button {
    background-color: #028490;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.chat a, .sacar-cita a, .noticias a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
}

/* Botón Emergencia */
.emergencia {
    background-color: #AF3537;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
}
.emergencia a{
       color: #FFFFFF;
}

/* Estilos para el pie de página */
footer {
    background-color: #0D3A45;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

footer .contactanos {
    display: flex;
    gap: 30px;
}

footer .contactanos i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
    color: rgb(255, 255, 255); /* Cambia el color del ícono */
}

footer .contactanos p {
    margin-left: 10px; /* Espaciado entre ícono y texto */
}

footer .boton-contacto button {
    background-color: #ffffff;
    color: rgb(76, 108, 136);
    height: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
}

footer .boton-contacto button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
