/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F5E8D2;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el footer esté al pie de la página */
}

/* Reseteo básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para el encabezado */
header {
    background: #028490;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li img {
    height: 50px; /* Ajusta el tamaño del logo */
}

/* Estilos para el título principal */
main > div {
    text-align: center;
    margin: 20px 0;
}

h1 {
    color: #333;
}

/* Estilos para el contenedor de fechas */
.contenedor-fechas {
    background-color: #028490; /* Color del contenedor */
    padding: 20px; /* Espacio interno del contenedor */
    border-radius: 15px; /* Bordes redondeados */
    margin: 20px 70px; /* Margen superior e inferior */
}

/* Estilos para la sección de fechas */
.fechas {
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre las fechas */
}

.fecha {
    text-align: center;
    border: 1px solid #ccc; /* Borde alrededor de las cajas */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px;
    background: #fff; /* Fondo blanco para las cajas */
    width: 150px; /* Ancho fijo para las cajas */
}

/* Estilos para el pie de página */
footer {
    background-color: #0D3A45;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

footer .contactanos {
    display: flex;
    gap: 30px;
}

footer .contactanos i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
    color: rgb(255, 255, 255); /* Cambia el color del ícono */
}

footer .contactanos p {
    margin-left: 10px; /* Espaciado entre ícono y texto */
}

footer .boton-contacto button {
    background-color: #ffffff;
    color: rgb(76, 108, 136);
    height: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
}

footer .boton-contacto button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
