/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FFFFFF;
    background-color: #F5E8D2;
}

/* Estilos para la barra de navegación */
header nav {
    background-color: #028490;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 35px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

/* Estilos para el contenido principal */
main {
    margin: 20px;
    flex: 1;
}

main h1 {
    font-size: 28px;
    color: #16262D;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Contenedor de las secciones en línea */
section.principal {
    display: flex;
    justify-content:center ; /* Espacio uniforme entre las secciones */
    margin: 30px;
    flex:1;
}

/* Estilo para cada sección */
section.datos, section.patologias, section.dni {
    background-color: #ebebea;
    border-radius: 10px;
    padding: 30px;
    color: #028490;
    flex: 1;
    margin: 10px;
    max-width: 300px; /* Limita el ancho de cada sección */
    align-items: center;
    text-align: center;
    height: 300px;
    border-color: #16262D;
}

section.datos h2, section.patologias h2, section.dni h2 {
    font-size: 22px;
    color: #0D3A45;
    margin-top: 0;
}

/* Botones dentro de cada sección */
section.datos button, section.patologias button, section.dni button {
    background-color: #028490;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 200px;
}

section.datos button a, section.patologias button a, section.dni button a {
    color: #FFFFFF;
    text-decoration: none;
}


/* Estilos para el pie de página */
footer {
    background-color: #0D3A45;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

footer .contactanos {
    display: flex;
    gap: 30px;
}

footer .contactanos i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
    color: rgb(255, 255, 255); /* Cambia el color del ícono */
}

footer .contactanos p {
    margin-left: 10px; /* Espaciado entre ícono y texto */
}

footer .boton-contacto button {
    background-color: #ffffff;
    color: rgb(76, 108, 136);
    height: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
}

footer .boton-contacto button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
